<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
    <div>
        <form action="/register" method="post">
<!--            <input type="hidden" name="uid">-->
            姓名：<input type="text" name="uname" >
            年龄：<input type="number" name="uage" >
            性别：<input type="text" name="ugender" >
            邮箱：<input type="email" name="uemail" >
            <tbody>
            <input type="submit" value="提交">
            </tbody>
        </form>
    </div>
</body>
</html>