<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    <div>
        <table border="1px">
            <tr>
                <a href="/show_user">显示用户</a>
            </tr>
            <tr>
                <td>名称</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>用户</td>
                <td>
                    <a href="/register">注册</a>
                    <a href="/query_user" >查询</a>
                </td>
            </tr>
            <tr>
                <td>教师</td>
                <td>
                    <a href="/add_teacher">增加</a>
                    <a href="/query_teacher" >查询</a>
                </td>
            </tr>
            <tr>
                <td>学生</td>
                <td>
                    <a href="/add_stu">增加</a>
                    <a href="/query_stu" >查询</a>
                </td>
            </tr>
            <tr>
                <td>课程</td>
                <td>
                    <a href="/add_course">增加</a>
                    <a href="/query_course" >查询</a>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>